Name : Manjunath B H

Date : 11-09-2024

1.
a) 'Variable' - Reserved memory location which stores values or data.

In [ ]:
#Example
name = "Manjunath Arya"
print(name)

Manjunath Arya

b) Difference b/w variable and constant ==

   ( variable - store data and can be change and modified.)
   
   ( constant - it will have constant values and cannot change throught the execution.)

2. Working with different data Types

In [ ]:
# Variables of the following types

Age = 21 # Integer
Height = 6.4 #Float
Name = "Manjunath Arya" #String
is_student = True #Boolean

In [ ]:
# A python script to display the type of each variable

integer_var = 21
float_var = 6.4
string_var = "Manjunath Arya"
bool_var = True

# Display the type of each variable

print("Type of integer_var:", type(integer_var))
print("Type of float_var:", type(float_var))
print("Type of string_var:", type(string_var))
print("Type of bool_var:",type(bool_var))

Type of integer_var: <class 'int'>
Type of float_var: <class 'float'>
Type of string_var: <class 'str'>
Type of bool_var: <class 'bool'>

3. Arthimetic Operators

In [ ]:
# Arthimetic Operations

Num1 = 10
Num2 = 5

# Addition
Addition = Num1 + Num2
print("Addition:", Addition)

# Subtraction
Subtraction = Num1 - Num2
print("Subtraction:", Subtraction)

# Multiplication
Multiplication = Num1 * Num2
print("Multiplication:", Multiplication)

# Division
Division = Num1 / Num2
print("Division:", Division)

# Floor Division (Quotient)
Floor_Division = Num1 // Num2
print("Floor Division:", Floor_Division)

# Modulus (Remainder)
Modulus = Num1 % Num2
print("Modulus:", Modulus)

# Exponentiation
Exponentiation = Num1 ** Num2
print("Exponentiation:", Exponentiation)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Modulus: 0
Exponentiation: 100000

In [ ]:
# Area of rectangle

length = 5
width = 10
area = length * width
print("Area of rectangle:", area)

Area of rectangle: 50

4. Comparison and Logical Operators

In [ ]:
# Comparison operators

a = 5
b = 10

# Equal (==)
result = a == b
print("Equal:", result)

# Not Equal (!=)
result = a != b
print("Not Equal:", result)

# Greater than (>)
result = a > b
print("Greater than:", result)

# Less than (<)
result = a < b
print("Less than:", result)

# Greater than or equal (>=)
result = a >= b
print("Greater than or equal:", result)

# Less than or equal (<=)
result = a <= b
print("Less than or equal:", result)

Equal: False
Not Equal: True
Greater than: False
Less than: True
Greater than or equal: False
Less than or equal: True

In [ ]:
# Logical Operations

def check_positive_and_even(number):
    return number > 0 and number % 2 == 0
number = int(input("Enter a number: "))
if check_positive_and_even(number):
    print(f"The number {number} is positive and even.")
else:
    print(f"The number {number} is not positive or not even.")

Enter a number: 3
The number 3 is not positive or not even.

5. Type Casting - Process of converting a value from one data to another

In [ ]:
# Implict and Explicit

x = 10
y = 3.5
z = x + y #implict
print("z=",z)

a = 2.5
b = 1
c = int(a) + b #explicit
print("c=",c)

z= 13.5
c= 3

In [4]:
# Python Script
try:
  integer_value = 20
  float_value = 13.4
  string_value = "2.5"

# Convert float to integers
  integer_value = int(float_value)
  print("Integer_1:", integer_value)

# Convert integer to string
  string_value = str(integer_value)
  print("String_1:", string_value)

# Convert string to float
  float_value = float(string_value)
  print("Float_1:", float_value)
except TypeError:
    print("Invalid input! Please enter valid numbers.")

Integer_1: 13
String_1: 13
Float_1: 13.0

6. Mini calculator

In [ ]:

    try:
        num1 = int(input("Enter the first number: "))
        num2 = int(input("Enter the second number: "))

        # Add the two numbers and print the result
        sum_result = num1 + num2
        print("Sum:", sum_result)

        # Subtract the second number from the first and print the result
        difference_result = num1 - num2
        print("Difference:", difference_result)

        # Multiply the two numbers and print the result
        product_result = num1 * num2
        print("Product:", product_result)

        # Divide the first number by the second and print the result
        division_result = num1 / num2
        print("Division:", division_result)

        # Convert the sum of the numbers to a string and print the type of the result
        sum_as_string = str(sum_result)
        print("Type of the sum as a string:",type(sum_as_string))

    except ValueError:
        print("Invalid input! Please enter valid numbers.")

Enter the first number: 10
Enter the second number: 20
Sum: 30
Difference: -10
Product: 200
Division: 0.5
Type of the sum as a string: <class 'str'>